//====================================================================================================

//====================================================================================================



.header {

	&._scroll {
	background-color: #F37962;

	height: 100px;
	position: fixed;
	width: 100%;
	z-index: 5;


    }
	// .header__content

	&__content {
		width: 100%;
		height: 100px;
		padding-top: 15px;
		padding-bottom: 15px;
		position: fixed;
		//top: 0;
		left: 0;
		right: 0;
		z-index: 5;
		//background-color: #F37962;
		display: flex;
		justify-content: space-between;
		justify-items: center;
		align-items: center;

	}

	// .header__logo

	&__logo {
		img {

			width: 212px;
			height: 50px;
		}
	}

	// .header__menu

	&__menu {
	}

	// .header__btn

	&__btn {
		margin-right: 75px;
		@media (max-width:$md2+px){
			margin-right: 35px;
		}
		@media (max-width:$md3+px){
			 margin: 0;
		}
	}
}

.menu {

	// .menu__icon

	&__icon {
	}

	// .menu__body

	&__body {
		display: flex;
		align-items: center;
		@media (max-width:$md3+px){
			display: none;
		}
		&._active {
		@media (max-width: $md3+px) {
			display: flex;
			flex-direction: column;
			position: fixed;
			height: 100vh;
			width: 100vw;
			top: 0;
			left: 0;
			z-index: 2;
			background-color: rgba(61, 53, 53, 0.9);
		}
	}
	}

	// .menu__list

	&__list {
		display: flex;
		@media (max-width:$md3+px){
			flex-direction: column;
			text-align: center;
			margin-top: 25px;
		}
		li {
			margin-right: 104px;
			&:last-child {
				margin-right: 75px;
			}
			@media (max-width:$md2+px){
				margin-right: 35px;
				&:last-child {
					margin-right: 35px;
				}
			}
			@media (max-width:$md3+px){

				 margin: 25px 0;
				 &:last-child {
					margin-right: 0;
				}
			}
			a{
			font-weight: bold;
			font-size: 16px;
			line-height: 19px;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			color: #FFFFFF;
			white-space: nowrap;
			&:hover {
				color: #F06252;
			}
			@media (max-width:$md3+px){
				 font-size: 25px;
			}
	    	}
		}
	}

	// .menu__link

	&__link {
	}
}
.icon-menu {
	&._active {
		span {
			background-color: #fff;
		}
	}
}


.promo {
	//background: url("../img/header-scene.svg");
	min-height: 570px;
	&__bg-img {
		img{
			max-width: initial;
			position:absolute;
			top: -100px;
			left: -10%;
			//width: 120%;
		}
	}

	&__bg-track-img {

		position: absolute;
		left: -30%;
		top: 650px;
		@media (max-width:$md3+px){
			 left: -60%;
		}
		@media (max-width:$md4+px){
			left: -150%;
		}
	}
	// .promo__content

	&__content {
		padding-top: 100px;
		position:relative;

	}

	// .promo__title

	&__title {
		position: relative;
		margin-top: 50px;
		margin-left: 15px;
		max-width: 740px;
		text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

		font-family: DM Serif Display;
		font-size: 100px;
		line-height: 100%;
		color: #FFFFFF;
		@media (max-width:$md2+px){
			font-size: 80px;
			max-width: 570px;
		}
		@media (max-width:600px){
			padding-right: 15px;
			left: 50%;
			transform: translate(-50%);
			text-align: center;
			font-size: 55px;
			max-width: 400px;
		}
	}

	&__btn {
		position: relative;
		margin-top: 60px;
		margin-left: 45px;
		@media (max-width:600px){
			margin-left: 0;
			left: 50%;
			transform: translate(-50%);


		}
	}
}


.btn {

	// .btn_arrow

	&_arrow {
	}
}
//Burger========================================================================================================================================================

.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 40px;
		right: 20px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
//</burger>========================================================================================================================================================



/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/
